<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:uses-permissionandroid="http://schemas.android.com/apk/res-auto"
    package="com.tantao.novel">

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.login.SplashActivity" />
        <activity android:name=".view.login.LoginActivity" />
        <activity android:name=".view.main.MainActivity" />
        <activity android:name=".view.me.SettingActivity" />
        <activity android:name=".view.me.AboutActivity" />
        <activity android:name=".view.me.FeedbackActivity" />
        <activity android:name=".view.notice.ChatsActivity" />
        <activity android:name=".view.login.RegisterActivity" />
        <activity android:name=".view.search.SearcActivity" />
        <activity android:name=".view.more.MoreActivity"></activity>
    </application>

</manifest>